.Policies {
    margin-top: 20px;
}

.policiesContent h3:first-child {
    margin-top: 0;
}

td.number {
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    font-size: 20px;
}

.policiesContent div:first-child {
    padding-top: 0;
}

.policiesContent div {
    padding-top: 20px;
}
