.Syllabus {
    margin-top: 20px;
}

.syllabusTable .alignVertical {
    vertical-align: middle;
}

.syllabusTable .alignCenter {
    text-align: center;
}

.fullRowText {
    white-space: nowrap;
}

.mlabLargeLogo {
    width: auto;
    height: 220px;
    margin-left: 30px;
}